div {
    font-size: calc(10px + 1vmin);
    /* color:#; */
}

.middle-container {
    margin: 100px;
    padding: 40px;
    text-align: left;
    border: solid 1.2px rgb(236, 236, 236);
    border-radius: 10px;
}
